*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"lato";
    }
    .navbar{
        position: fixed;
        background-color:#f44336;
        width: 100%;
    } 
    .list{
        list-style-type: none;
        display: flex;
        box-shadow:5px 0px 5px 0px black;
    }
    .list .item{
        padding: 20px 40px;
    }
    .list .item a{
        text-decoration: none;
        color: white;
    }
    .item a:hover{
        background-color: white;
        color: black;
        padding: 20px 40px;
    }
    .active a,.active{
        color: black !important;  
        background-color: white;
    }
.hero{
    background-color:#f44336;
    height:400px ;
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.hero h1,.hero p{
    padding-bottom: 20px;
}
.get{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer
}
.get:hover{
    background-color: white;
    color: black;
}
.fa-solid{
color: #f44336;
}
.two  {
    height:400px ;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 70%;
    margin:0px auto; 
}
.pargraph1,.pargraph2{
    width: 50%;
}
.top{
    padding-top: 20px;
}
.color{
    color: gray;
}
.three  {
    background-color:rgb(187, 191, 196);
    height:400px ;
    display: flex;
    justify-content:center;
    align-items: center;
}
.parg{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 70%;
    margin: auto; 
}
.Quote{
    background-color: rgb(80, 79, 79);
    color: white;
    height:200px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height:200px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.dir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.textcolor{
    color: rgb(105, 105, 105);
    font-size: small;
}
.anchor a{
    text-decoration-line: none;
}
.anchor a i{
    color: #696969;
}